<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.roadconeno4.flying_hippo_dev">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application android:label="DEV" 
                 android:theme="@style/MainTheme_dev" 
                 android:name="android.app.Application" 
                 android:allowBackup="true" 
                 android:icon="@mipmap/ic_dev" 
                 android:roundIcon="@mipmap/ic_dev_round">
        <meta-data android:name="BaseUrl" android:value="https://www.google.com" />
        <meta-data android:name="AppCenterKey" android:value="5ceb80ad-c50f-4ca2-bc74-885734d70c20" />
    </application>
</manifest>